<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">js/components/infrared/index.js | API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <a data-ice="repoURL" href="git+https://github.com/FH-Potsdam/connecting-bits.git">Repository</a>
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/index.js~BoardsChain.html">BoardsChain</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/box</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html">Box</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/infrared</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/infrared/index.js~Intrared.html">Intrared</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/light</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/light/index.js~Light.html">Light</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/microphone</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/microphone/index.js~Microphone.html">Microphone</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/microphone/utils/records</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/microphone/utils/records/index.js~Record.html">Record</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/microphone/utils/reports</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/microphone/utils/reports/index.js~CreateReport.html">CreateReport</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/motor</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/motor/index.js~Motor.html">Motor</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/speaker</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/speaker/index.js~Speaker.html">Speaker</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/translator</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/translator/index.js~Translator.html">Translator</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">constants</div><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-INFRARED_CONSTANTS">INFRARED_CONSTANTS</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-LIGHT_CONSTANTS">LIGHT_CONSTANTS</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-MOTOR_CONSTANTS">MOTOR_CONSTANTS</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">utils</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/utils/boardsUtil.js~BoardsUtil.html">BoardsUtil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/utils/clientsUtil.js~ClientsUtil.html">ClientsUtil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/utils/logUtil.js~LogUtil.html">LogUtil</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">js/components/infrared/index.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import _ from &apos;lodash&apos;;
import { Proximity } from &apos;johnny-five&apos;;
import logUtil from &apos;../../utils/logUtil&apos;;
import { INFRARED_CONSTANTS } from &apos;../../constants&apos;;
const {
	UNUSED_PIN,
	USED_PIN,
	MIN_DETECTION_DISTANCE,
	CONTROLLER_ID,
	MIN_PRESENCE_DURATION,
	EMPTY_RESOLVE_FUNCTION
} = INFRARED_CONSTANTS;

/**
 * @class Manages the infrared sensor
 */
export default class Intrared {
	/**
	 * Constructor for the Infrared class. Needs a j5 board instance
	 * to work well. !CAUTION&#xA1; The j5 board must already be ready.
	 * @param  {Johnny Five board instance} board
	 * @private
	 */
	constructor(board) {
		/**
		 * Johnny Five Board instance
		 * @type {Board}
		 */
		this.board = board;
		/**
		 * Johnny Five Proximity instance
		 * @type {[type]}
		 */
		this.proximity = this.getInitializedProximity.bind(this)();
		/**
		 * Actual detected distance in cm
		 * @type {Number}
		 */
		this.distance = 0;
		/**
		 * Wether or not a human presence is detected
		 * @type {Boolean}
		 */
		this.presenceDetected = false;
		/**
		 * The Function to resolve in case a long presence
		 * has been detected
		 * @type {Function}
		 */
		this.resolve = EMPTY_RESOLVE_FUNCTION;
		/**
		 * A throttled function checking if a human presence
		 * is still detected after a certain time
		 * @type {Throttled Function}
		 */
		this.throttledCheck = _.throttle(
			this.checkLaterIfStillPresent.bind(this),
			MIN_PRESENCE_DURATION
		);

		this.proximity.on(&apos;data&apos;, (data) =&gt; {
			this.onData.bind(this)(data.cm);
		});
	}
	/**
	 * Is called when the infrared detects a distance. In other words,
	 * all the time.
	 * @param  {Number} cm
	 * @private
	 */
	onData(cm) {
		if (cm &lt; MIN_DETECTION_DISTANCE) {
			this.presenceDetected = true;
			logUtil.log({
				type: &apos;hardware&apos;,
				title: &apos;Presence&apos;,
				messages: [ { distance: `${cm} cm` } ]
			});
			this.throttledCheck();
		} else {
			this.presenceDetected = false;
		}
	}
	/**
	 * @return {Johnny Five Proximity class} Return a valid Johnny Five
	 * instance of the Proximity class. See http://johnny-five.io/api/proximity/
	 * for mor details.
	 * @private
	 */
	getInitializedProximity() {
		const unused = new Proximity({
			controller: CONTROLLER_ID,
			pin: UNUSED_PIN,
			board: this.board
		});
		const proximity = new Proximity({
			controller: CONTROLLER_ID,
			pin: USED_PIN,
			board: this.board
		});
		return proximity;
	}
	/**
	 * Is called to start the infrared detection. Overrides the global
	 * resolve function with the Promise.resolve function.
	 * @return {Promise}
	 * @public
	 */
	detectPresence() {
		return new Promise((resolve) =&gt; {
			this.resolve = resolve;
		});
	}
	/**
	 * Checks if a presence is detected and resovles the Promise
	 * if so. Resets the promise to its default.
	 * @private
	 */
	checkLaterIfStillPresent() {
		if (this.presenceDetected) {
			logUtil.log({
				type: &apos;hardware&apos;,
				title: &apos;Long presence detected&apos;
			});
			this.resolve();
			this.resolve = EMPTY_RESOLVE_FUNCTION;
		}
	}
}
</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.4.3)</span></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
