<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">Box | API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <a data-ice="repoURL" href="git+https://github.com/FH-Potsdam/connecting-bits.git">Repository</a>
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/index.js~BoardsChain.html">BoardsChain</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/box</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html">Box</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/infrared</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/infrared/index.js~Infrared.html">Infrared</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/light</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/light/index.js~Light.html">Light</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/microphone</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/microphone/index.js~Microphone.html">Microphone</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/microphone/records.js~Record.html">Record</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/microphone/reports.js~Report.html">Report</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/microphone/speechtotext.js~SpeechToText.html">SpeechToText</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/motor</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/motor/index.js~Motor.html">Motor</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/speaker</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/speaker/index.js~Speaker.html">Speaker</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/translator</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/translator/index.js~Translate.html">Translate</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">constants</div><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-GENERAL_CONSTANTS">GENERAL_CONSTANTS</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-INFRARED_CONSTANTS">INFRARED_CONSTANTS</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-LIGHT_CONSTANTS">LIGHT_CONSTANTS</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-MOTOR_CONSTANTS">MOTOR_CONSTANTS</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">utils</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/utils/boardsUtil.js~BoardsUtil.html">BoardsUtil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/utils/clientsUtil.js~ClientsUtil.html">ClientsUtil</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/utils/logUtil.js~LogUtil.html">LogUtil</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><div class="header-notice">
  <div data-ice="importPath" class="import-path"><pre class="prettyprint"><code data-ice="importPathCode">import Box from &apos;<span><a href="file/js/components/box/index.js.html#lineNumber20">connecting-bits/js/components/box/index.js</a></span>&apos;</code></pre></div>
  <span data-ice="access">public</span>
  <span data-ice="kind">class</span>
  
  
  
  <span data-ice="source">| <span><a href="file/js/components/box/index.js.html#lineNumber20">source</a></span></span>
</div>

<div class="self-detail detail">
  <h1 data-ice="name">Box</h1>

  

  
  
  
  
  
  
  
  
  

  
  
  

  

  

  

  
</div>



<div data-ice="constructorSummary"><h2>Constructor Summary</h2><table class="summary" data-ice="summary">
  <thead><tr><td data-ice="title" colspan="3">Public Constructor</td></tr></thead>
  <tbody>
  
  <tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-constructor-constructor">constructor</a></span></span><span data-ice="signature">(board: <span>JohnnyFive board instanxe</span>, client: <span>Mqtt client</span>, options: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></span>)</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Constructor for the Light class</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
</tbody>
</table>
</div>
<div data-ice="memberSummary"><h2>Member Summary</h2><table class="summary" data-ice="summary">
  <thead><tr><td data-ice="title" colspan="3">Public Members</td></tr></thead>
  <tbody>
  
  <tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-board">board</a></span></span><span data-ice="signature">: <span>Board</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>A Johnny Five Board instance</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-client">client</a></span></span><span data-ice="signature">: <span>Mqtt client</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>An Mqtt client</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-infrared">infrared</a></span></span><span data-ice="signature">: <span>Infra</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The Infra component
Will be intialized when all boards are ready</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-light">light</a></span></span><span data-ice="signature">: <span><a href="class/js/components/light/index.js~Light.html">Light</a></span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The Light component
Will be intialized when all boards are ready</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-microphone">microphone</a></span></span><span data-ice="signature">: <span>Micro</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The Micro component
Will be intialized when all boards are ready</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-motor">motor</a></span></span><span data-ice="signature">: <span><a href="class/js/components/motor/index.js~Motor.html">Motor</a></span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The Motor component
Will be intialized when all boards are ready</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-name">name</a></span></span><span data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The Box&apos;s name</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-options">options</a></span></span><span data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Option with next, prev and isMaster</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-round">round</a></span></span><span data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">Number</a></span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The round actually playing</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-speaker">speaker</a></span></span><span data-ice="signature">: <span>Speak</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The Speak component
Will be intialized when all boards are ready</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-timeout">timeout</a></span></span><span data-ice="signature">: <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The component&apos;s timeout. Saved to be cleared at any time</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-member-translator">translator</a></span></span><span data-ice="signature">: <span>[type]</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>The Translator component
Will be intialized when all boards are ready</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
</tbody>
</table>
</div>
<div data-ice="methodSummary"><h2>Method Summary</h2><table class="summary" data-ice="summary">
  <thead><tr><td data-ice="title" colspan="3">Public Methods</td></tr></thead>
  <tbody>
  
  <tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-allStandUp">allStandUp</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>A method to reinitialize the box to a standing state</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-delayedCall">delayedCall</a></span></span><span data-ice="signature">(callback: <span>*</span>): <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>A utility to delay an action returning a Promise</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-finish">finish</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the box finished its round</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-getBoard">getBoard</a></span></span><span data-ice="signature">(): <span>Johnny Five board instance</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Returns the Box&apos;s j5 board</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-getClient">getClient</a></span></span><span data-ice="signature">(): <span>Mqtt client instance</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Retruns the Box&apos;s mqtt client</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-handleTranslation">handleTranslation</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Ends the show of the box</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-isLastRound">isLastRound</a></span></span><span data-ice="signature">(): <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called to check is this is the last round</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onBoardReady">onBoardReady</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the Photon board is ready</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onConnect">onConnect</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the Box&apos;s mqtt client is ready and connected.</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onMessage">onMessage</a></span></span><span data-ice="signature">(topic: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>, message: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>)</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when a mqtt message is received</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onPresenceDetected">onPresenceDetected</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the infrared detects a presence</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onPreviousBoxSpeaking">onPreviousBoxSpeaking</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the previous box is speaking the text out loud</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onRecordingFailed">onRecordingFailed</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the voice was badly recorded, when no sound was identified
or when the speech could not be transformed into text</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onRulesExplained">onRulesExplained</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the Box has spoken the rules out loud</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-onTextSpoken">onTextSpoken</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called whe the box has successfully spoken the text out loud</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-prepareToSpeak">prepareToSpeak</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Is called when the Box is meant to speak</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-reset">reset</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>A method to reinitialize the box to the initial state</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-restartTheShow">restartTheShow</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Restarts the complete show and resets the round</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-sendMessage">sendMessage</a></span></span><span data-ice="signature">(message: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>, recipient: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>)</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Send a message to wether the nex or the previous Box via mqtt</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-speakText">speakText</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Speaks the text out loud</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-start">start</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>Internal start, starts detecting</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-startTheShow">startTheShow</a></span></span><span data-ice="signature">()</span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>External start, intreases the round</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
<tr data-ice="target">
    <td>
      <span class="access" data-ice="access">public</span>
      
      
      
      <span class="override" data-ice="override"></span>
    </td>
    <td>
      <div>
        <p>
           <span data-ice="name"><span><a href="class/js/components/box/index.js~Box.html#instance-method-testMotor">testMotor</a></span></span><span data-ice="signature">(): <span>*</span></span>
        </p>
      </div>
      <div>
        
        
        <div data-ice="description"><p>A method to test that all components are connected and working correctly</p>
</div>
      </div>
    </td>
    <td>
      
      
    </td>
  </tr>
</tbody>
</table>
</div>





<div data-ice="constructorDetails"><h2 data-ice="title">Public Constructors</h2>

<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-constructor-constructor">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">constructor</span><span data-ice="signature">(board: <span>JohnnyFive board instanxe</span>, client: <span>Mqtt client</span>, options: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></span>)</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber29">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Constructor for the Light class</p>
</div>

  

  <div data-ice="properties"><div data-ice="properties">
  <h4 data-ice="title">Params:</h4>
  <table class="params">
    <thead>
    <tr><td>Name</td><td>Type</td><td>Attribute</td><td>Description</td></tr>
    </thead>
    <tbody>
    
    <tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">board</td>
      <td data-ice="type"><span>JohnnyFive board instanxe</span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"><p>this is the board class delivered
by johnny five for one board. In this case we talk about a photon board</p>
</td>
    </tr>
<tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">client</td>
      <td data-ice="type"><span>Mqtt client</span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"><p>This is an  instance of an mqtt client that
will be used to communicate with oder boxes</p>
</td>
    </tr>
<tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">options</td>
      <td data-ice="type"><span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"><p>Option containing next, prev and isMaster</p>
</td>
    </tr>
</tbody>
  </table>
</div>
</div>

  

  

  

  

  

  

  
  
</div>
</div>
<div data-ice="memberDetails"><h2 data-ice="title">Public Members</h2>

<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-board">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">board</span><span data-ice="signature">: <span>Board</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber34">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>A Johnny Five Board instance</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-client">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">client</span><span data-ice="signature">: <span>Mqtt client</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber39">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>An Mqtt client</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-infrared">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">infrared</span><span data-ice="signature">: <span>Infra</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber86">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The Infra component
Will be intialized when all boards are ready</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-light">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">light</span><span data-ice="signature">: <span><a href="class/js/components/light/index.js~Light.html">Light</a></span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber68">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The Light component
Will be intialized when all boards are ready</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-microphone">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">microphone</span><span data-ice="signature">: <span>Micro</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber92">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The Micro component
Will be intialized when all boards are ready</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-motor">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">motor</span><span data-ice="signature">: <span><a href="class/js/components/motor/index.js~Motor.html">Motor</a></span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber74">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The Motor component
Will be intialized when all boards are ready</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-name">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">name</span><span data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber49">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The Box&apos;s name</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-options">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">options</span><span data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a></span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber44">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Option with next, prev and isMaster</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-round">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">round</span><span data-ice="signature">: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">Number</a></span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber54">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The round actually playing</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-speaker">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">speaker</span><span data-ice="signature">: <span>Speak</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber80">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The Speak component
Will be intialized when all boards are ready</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-timeout">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">timeout</span><span data-ice="signature">: <span>*</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber371">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The component&apos;s timeout. Saved to be cleared at any time</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-member-translator">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">translator</span><span data-ice="signature">: <span>[type]</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber62">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>The Translator component
Will be intialized when all boards are ready</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
</div>
<div data-ice="methodDetails"><h2 data-ice="title">Public Methods</h2>

<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-allStandUp">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">allStandUp</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber399">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>A method to reinitialize the box to a standing state</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-delayedCall">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">delayedCall</span><span data-ice="signature">(callback: <span>*</span>): <span>*</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber426">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>A utility to delay an action returning a Promise</p>
</div>

  

  <div data-ice="properties"><div data-ice="properties">
  <h4 data-ice="title">Params:</h4>
  <table class="params">
    <thead>
    <tr><td>Name</td><td>Type</td><td>Attribute</td><td>Description</td></tr>
    </thead>
    <tbody>
    
    <tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">callback</td>
      <td data-ice="type"><span>*</span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"></td>
    </tr>
</tbody>
  </table>
</div>
</div>

  <div class="return-params" data-ice="returnParams">
    <h4>Return:</h4>
    <table>
      <tr>
        <td class="return-type" data-ice="returnType"><span>*</span></td>
        
      </tr>
    </table>
    <div data-ice="returnProperties">
</div>
  </div>

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-finish">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">finish</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber364">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the box finished its round</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-getBoard">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">getBoard</span><span data-ice="signature">(): <span>Johnny Five board instance</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber193">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Returns the Box&apos;s j5 board</p>
</div>

  

  <div data-ice="properties">
</div>

  <div class="return-params" data-ice="returnParams">
    <h4>Return:</h4>
    <table>
      <tr>
        <td class="return-type" data-ice="returnType"><span>Johnny Five board instance</span></td>
        
      </tr>
    </table>
    <div data-ice="returnProperties">
</div>
  </div>

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-getClient">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">getClient</span><span data-ice="signature">(): <span>Mqtt client instance</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber186">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Retruns the Box&apos;s mqtt client</p>
</div>

  

  <div data-ice="properties">
</div>

  <div class="return-params" data-ice="returnParams">
    <h4>Return:</h4>
    <table>
      <tr>
        <td class="return-type" data-ice="returnType"><span>Mqtt client instance</span></td>
        
      </tr>
    </table>
    <div data-ice="returnProperties">
</div>
  </div>

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-handleTranslation">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">handleTranslation</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber335">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Ends the show of the box</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-isLastRound">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">isLastRound</span><span data-ice="signature">(): <span>*</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber395">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called to check is this is the last round</p>
</div>

  

  <div data-ice="properties">
</div>

  <div class="return-params" data-ice="returnParams">
    <h4>Return:</h4>
    <table>
      <tr>
        <td class="return-type" data-ice="returnType"><span>*</span></td>
        
      </tr>
    </table>
    <div data-ice="returnProperties">
</div>
  </div>

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onBoardReady">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onBoardReady</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber170">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the Photon board is ready</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onConnect">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onConnect</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber100">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the Box&apos;s mqtt client is ready and connected.</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onMessage">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onMessage</span><span data-ice="signature">(topic: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>, message: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>)</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber114">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when a mqtt message is received</p>
</div>

  

  <div data-ice="properties"><div data-ice="properties">
  <h4 data-ice="title">Params:</h4>
  <table class="params">
    <thead>
    <tr><td>Name</td><td>Type</td><td>Attribute</td><td>Description</td></tr>
    </thead>
    <tbody>
    
    <tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">topic</td>
      <td data-ice="type"><span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"><p>the mqtt topic the message was sent on</p>
</td>
    </tr>
<tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">message</td>
      <td data-ice="type"><span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"><p>the message sent via mqtt</p>
</td>
    </tr>
</tbody>
  </table>
</div>
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onPresenceDetected">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onPresenceDetected</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber224">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the infrared detects a presence</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onPreviousBoxSpeaking">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onPreviousBoxSpeaking</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber380">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the previous box is speaking the text out loud</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onRecordingFailed">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onRecordingFailed</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber307">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the voice was badly recorded, when no sound was identified
or when the speech could not be transformed into text</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onRulesExplained">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onRulesExplained</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber247">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the Box has spoken the rules out loud</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-onTextSpoken">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">onTextSpoken</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber323">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called whe the box has successfully spoken the text out loud</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-prepareToSpeak">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">prepareToSpeak</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber267">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Is called when the Box is meant to speak</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-reset">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">reset</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber404">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>A method to reinitialize the box to the initial state</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-restartTheShow">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">restartTheShow</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber219">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Restarts the complete show and resets the round</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-sendMessage">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">sendMessage</span><span data-ice="signature">(message: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>, recipient: <span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span>)</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber144">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Send a message to wether the nex or the previous Box via mqtt</p>
</div>

  

  <div data-ice="properties"><div data-ice="properties">
  <h4 data-ice="title">Params:</h4>
  <table class="params">
    <thead>
    <tr><td>Name</td><td>Type</td><td>Attribute</td><td>Description</td></tr>
    </thead>
    <tbody>
    
    <tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">message</td>
      <td data-ice="type"><span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"><p>message to be sent to the sibling Box</p>
</td>
    </tr>
<tr data-ice="property" data-depth="0">
      <td data-ice="name" data-depth="0">recipient</td>
      <td data-ice="type"><span><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">string</a></span></td>
      <td data-ice="appendix"></td>
      <td data-ice="description"><p>wether &quot;next&quot; or &quot;prev&quot;</p>
</td>
    </tr>
</tbody>
  </table>
</div>
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-speakText">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">speakText</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber284">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Speaks the text out loud</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-start">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">start</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber197">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>Internal start, starts detecting</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-startTheShow">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">startTheShow</span><span data-ice="signature">()</span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber209">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>External start, intreases the round</p>
</div>

  

  <div data-ice="properties">
</div>

  

  

  

  

  

  

  
  
</div>
<div class="detail" data-ice="detail">
  <h3 data-ice="anchor" id="instance-method-testMotor">
    <span class="access" data-ice="access">public</span>
    
    
    
    
    <span data-ice="name">testMotor</span><span data-ice="signature">(): <span>*</span></span>
    <span class="right-info">
      
      
      <span data-ice="source"><span><a href="file/js/components/box/index.js.html#lineNumber410">source</a></span></span>
    </span>
  </h3>

  
  
  
  <div data-ice="description"><p>A method to test that all components are connected and working correctly</p>
</div>

  

  <div data-ice="properties">
</div>

  <div class="return-params" data-ice="returnParams">
    <h4>Return:</h4>
    <table>
      <tr>
        <td class="return-type" data-ice="returnType"><span>*</span></td>
        
      </tr>
    </table>
    <div data-ice="returnProperties">
</div>
  </div>

  

  

  

  

  

  
  
</div>
</div>
</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.4.3)</span></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
